.nav > li > a {
  font-size: 15px;
  font-weight: 800;
}

.nav ul > li > a {
  padding-left: 30px;
}

.nav ul > li.active > a, .nav ul > li > a:hover {
    background-color: #dfdfdf;
    color: #333;
}

.axis-grid line {
  stroke: #def;
}

li > span.date {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  border-color: lightgray;
  color: gray;
  background-color: #f2f2f2;
  font-size: 12px;
  margin-right:10px
}

.long-eqn {
  overflow-x: auto;
}

mjx-container {
  overflow: scroll;
}

.p5canvas {
  width: 100%;
  display: flex;
}

.p5canvas canvas {
  margin-left: auto;
  margin-right: auto;
}
